body{
     background: linear-gradient(to right,rgb(22, 22, 21),rgb(54, 54, 53));
     margin:0;
     padding:0;
     display:flex;
     height:100vh;
     justify-content: center;
     align-items: center;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}
#clock-container{ 
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px 60px;
border-radius: 10px;
box-shadow: 2px 10px 10px  rgb(20, 20, 20);
width:550px
}
#clock{
     background:linear-gradient(90deg,rgb(80, 5, 166),rgb(127, 214, 249)) ;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
     font-size: 5rem;
     font-weight: 600;
     margin-bottom:25px;
}
button{
     background:linear-gradient(to left,rgb(184, 123, 255),rgb(105, 179, 208));
     color:#ffffff;
     font-weight: bold;
     font-size: 30px;
     border:none;
     padding:10px 20px;
     margin:0 10px;
     border-radius: 8px;
     cursor:pointer;
     transition: background 0.3s ease;
     height:40px;
     width:150px;
}
.active{
     background:linear-gradient(to left,rgb(80, 5, 166),rgb(127, 214, 249));
     transform:scale(1.05);
     box-shadow: 0 0 8px rgba(29, 18, 241, 0.2);
     height:42px;
     width:155px;
     color:rgb(199, 197, 197);
}
button:hover{
     background:linear-gradient(to left,rgb(91, 47, 142),rgb(57, 191, 244));
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
     
}
